.name {
    font-size: 20pt;
    font-weight: bold;
}

.bd {
    color: green;
}

.world_champ {
    color: red;
    font-weight: bold;
}

.info {
    color: blue;
    font-style: italic;
}

a.out {
    background: url('../extref.png') no-repeat 0 5px;
    padding-left: 15px;
}