@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,700&display=swap&subset=cyrillic');

.menu {}

header {
    padding-top: 40px;
    position: absolute;
    width: 100%;
}

.menu__item a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 12px;
    display: block;
}
header nav li{
    margin-left: 30px;
}
.first_screen{
    background-image: url('../img/site-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.first_screen__wrapper{
    width: 100%;
}
.company {
    width: 555px;
    margin: 255px auto 0;
}

.company__title {
    border: 10px solid #60606e;
    display: flex;
    align-items: center;
    justify-content: center;

}

.company__title h1 {
    padding: 22px 0px;
    color: #60606e;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    align-items: center;
    margin: 0;
}

.company__description{
    margin-top: 30px;
}
.company__description p {
    color: #60606e;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
 .history{
    display: flex;
    margin-top: 125px;
    justify-content: flex-end;
    position: relative;
 }
 .history__content h2{
color: #60606e;
font-family: Montserrat;
font-size: 30px;
font-weight: 700;
line-height: 48px;
text-transform: uppercase;
 }
 .history__content p{
color: #60606e;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 30px;
 }
 .content__button{
    display: flex;
    justify-content:flex-end;
    margin-top: 25px;
    position: absolute;
    right: 0;
 }
 .history__content a{
color: #ffffff;
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
padding: 15px 30px;
background-color: #7beec7;
 }


.history__content {
    width: 540px;
    padding-top: 30px;
    position: relative;
    margin-bottom: 45px;
    
}
.history__picture{
    position: absolute;
    left: 0;
}