@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800|Open+Sans:400,800&display=swap&subset=cyrillic');

.aposlider {
    width: 50%;
}

.aposcontent {
    left: 10%;
    opacity: 0;
    position: absolute;

}

.apoactived {
    z-index: 2;
}

a:active,
a:hover,
a:focus,
a {
    text-decoration: none;
    color: #60606e;
}

header {
    padding-top: 40px;
    position: absolute;
    width: 100%;
}

img {
    width: 100%;
}

.menu__item a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 12px;
    display: block;
}

.logo_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social_icons {
    width: 100%;
}

.social_icons ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.social_icons a {
    display: block;
}

.social_icons li {
    margin-left: 20px;
}

.contact_media {
    width: 100%;
}

.contact_media ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.contact_media a {
    display: block;
}

.contact_media li {
    margin-right: 20px;
}

.footer_menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header nav li {
    margin-left: 30px;
}

.first_screen {
    background-image: url('../img/site-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.first_screen__wrapper {
    width: 100%;
}

.company {
    width: 555px;
    margin: 255px auto 0;
}

.company__title {
    border: 10px solid #60606e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;

}

.company__title h1 {
    padding: 22px 0px;
    color: #60606e;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
}

.company__description {
    margin-top: 30px;
}

.company__description p {
    color: #60606e;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.history {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 125px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: relative;
}

.history__content h2 {
    color: #60606e;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    z-index: 3;
}


.history__content p {
    color: #60606e;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.content__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 25px;
    position: absolute;
    right: 0;
}

.history__content a {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 30px;
    background-color: #7beec7;
}


.history__content {
    width: 540px;
    padding-top: 30px;
    position: relative;
    margin-bottom: 45px;

}

.history__picture {
    position: absolute;
    left: 0;
}

.second_screen__wrapper {
    width: 100%;
}

.second_screen__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 720px;
    margin: 255px auto 0;
    position: relative;
}

.second_screen__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 125px;
    position: relative;
}

.second_screen__top h2 {
    color: #60606e;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
}

.second_screen__top h2::after {
    content: '';
    position: absolute;
    left: 224px;
    z-index: -1;
    bottom: 55px;
    width: 71px;
    height: 21px;
    background-color: #7beec7;
}

.second_screen__top p {
    width: 717px;
    color: #60606e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.second_screen__picture {
    position: absolute;
    margin: 0 auto;
}

.second_screen__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.info_block1 {
    width: calc(100% / 2);
}

.info_block2 {
    width: calc(100% / 2);
}

.info_block3 {
    width: calc(100% / 2);
}

.info_block4 {
    width: calc(100% / 2);
}

.info_block1 .block1_content1 {
    color: #60606e;
    font-family: Ionicons;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
}

.info_block1 .block1_content2 {
    color: #60606e;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.info_block1 .block1_content3 {
    color: #999999;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.info_block2 .block2_content1 {
    color: #60606e;
    font-family: Ionicons;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
}

.info_block2 .block2_content2 {
    color: #60606e;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.info_block2 .block2_content3 {
    color: #999999;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.info_block3 .block3_content1 {
    color: #60606e;
    font-family: Ionicons;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    margin-top: 69px;
    margin-left: -5px;
    ;
}

.info_block3 .block3_content2 {
    color: #60606e;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.info_block3 .block3_content3 {
    color: #999999;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.info_block4 .block4_content1 {
    color: #60606e;
    font-family: Ionicons;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    margin-top: 65px;
    ;
}

.info_block4 .block4_content2 {
    color: #60606e;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.info_block4 .block4_content3 {
    color: #999999;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.third_screen__wrapper {
    width: 100%;
}

.third_screen__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 720px;
    margin: 150px auto 0;
    position: relative;
}

.third_screen__top h2::after {
    content: '';
    position: absolute;
    left: 228px;
    z-index: -1;
    bottom: 55px;
    width: 71px;
    height: 21px;
    background-color: #7beec7;
}

.third_screen__top h2 {
    color: #60606e;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
}

.third_screen__top p {
    width: 765px;
    color: #60606e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.third_screen__bottom {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.portfolio_type {
    width: 350px;
}

.portfolio_container img {
    padding: 10px;
}

.portfolio_type span {
    display: block;
    width: 167px;
    height: 71px;
    color: #60606e;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.portfolio_filter a {
    color: #60606e;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    text-decoration: none;
}

.portfolio_filter a:hover {
    background-color: #7beec7;
}

.portfolio_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.web {
    width: calc(100% / 3);
}

.logo {
    width: calc(100% / 3);
}

.graphics {
    width: calc(100% / 3);
}

.ads {
    width: calc(100% / 3);
}

.fashion {
    width: calc(100% / 3);
}

.fourth_screen {
    background-color: #7beec7;
    margin-top: 150px;
}

.fourth_screen__wrapper {
    width: 100%;
    background-color: #7beec7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0;
    left: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.jobs_question span {
    display: block;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.jobs_button {
    display: inline-block;
    background-color: #ffffff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
    ;
    padding: 0 20px;
}

.jobs_button span {

    display: block;
    color: #7beec7;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    background-color: #ffffff;
}

.newslatters {
    width: 60%;
    background-color: #ffffff;
    padding: 20px 25px;
}

.newslatters span {
    display: block;
    color: #60606e;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.newslatters p {
    color: #999999;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px 0;
}

footer {
    padding: 30px;
    position: relative;
    width: 100%;
}

.footer_menu a {
    display: block;
    text-decoration: none;
    color: #9a9a9a;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
}

.footer_info span {
    display: block;
    color: #9a9a9a;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    text-align: right;
}

footer .col-lg-8,
.col-lg-4,
.col-lg-12 {
    padding: 0;
}

footer nav li {
    margin-right: 30px;
}

.first_screen__about {
    background-image: url('../img/site-hero2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.first_screen__about__wrapper {
    width: 100%;
}

.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 265px auto 160px;
}

.title_name h1 {
    color: #60606e;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.title_path p,
a {
    color: #60606e;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.title_path a:hover {
    color: #60606e;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.title a {
    text-decoration: none;
}

.second_screen__about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 150px;
    width: 100%;
    position: relative;
}

.about_us__left {
    margin-right: 70px;
}

.about_us__left h2 {
    z-index: 2;
    color: #60606e;
    position: relative;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.about_us__left h2::after {
    content: '';
    position: absolute;
    left: 228px;
    z-index: -1;
    bottom: 55px;
    width: 71px;
    height: 21px;
    background-color: #7beec7;
}

.company__title h1::after {
    content: "we're";
    width: 99px;
    height: 30px;
    background-color: #fff;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 40%;
    top: -43%;
    text-align: center;
    line-height: 35px;
    opacity: 0;
    transition: 1s linear;
    -webkit-transition: 1s linear;
    -moz-transition: 1s linear;
    -ms-transition: 1s linear;
    -o-transition: 1s linear;
}

.company__title:hover h1::after {
    content: "we're";
    width: 99px;
    height: 30px;
    opacity: 1;
    background-color: #7beec7;
    color: #60606e;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;

    text-transform: uppercase;
    position: absolute;
    left: 40%;
    top: -43%;
    text-align: center;
    line-height: 35px;

}

.about_us__left h2:after {
    content: '';
    position: absolute;
    left: 0;
    z-index: -1;
    bottom: -5px;
    width: 68px;
    height: 21px;
    background-color: #7beec7;
}

.about_us__left h3 {
    color: #60606e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px 0;
}

.about_us__left p {
    color: #60606e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.what_we_do__right h2 {
    color: #60606e;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.what_we_do__right h2::after {
    content: '';
    position: absolute;
    left: 610px;
    z-index: -1;
    bottom: 260px;
    width: 71px;
    height: 21px;
    background-color: #7beec7;
}

.what_we_do__right h3 {
    color: #60606e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px 0;
}

.what_we_do__right p {
    color: #60606e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.third_screen__about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 150px;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

.benefits_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.benefits_top__title h2 {
    color: #60606e;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.benefits_top__title h2:after {
    content: '';
    position: absolute;
    left: 445px;
    ;
    z-index: -1;
    bottom: 30px;
    width: 68px;
    height: 21px;
    background-color: #7beec7;
}

.benefits_top__description p {
    color: #60606e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.benefits_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 100px;
}

.fully_responsive {
    width: calc(100% / 3);
    margin-bottom: 50px;
    padding-right: 50px;

}

.fully_responsive .fr_block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.unlimited_option .uo_block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.wordpress .wp_block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.e_commerce .ec_block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.support .sp_block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.customizable_design .cd_block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.unlimited_option {
    width: calc(100% / 3);
    margin-bottom: 50px;
    padding-right: 50px;
}

.wordpress {
    width: calc(100% / 3);
    margin-bottom: 50px;
    padding-right: 50px;
}

.e_commerce {
    width: calc(100% / 3);
    margin-bottom: 50px;
    padding-right: 50px;
}

.support {
    width: calc(100% / 3);
    margin-bottom: 50px;
    padding-right: 50px;
}

.customizable_design {
    width: calc(100% / 3);
    margin-bottom: 50px;
    padding-right: 50px;
}

.benefits_bottom p {
    color: #60606e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.benefits_bottom span {
    color: #60606e;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    padding-left: 10px;
}

.benefits_bottom ion-icon {
    color: #fff;
    font-family: Ionicons;
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    background-color: #7beec7;
    padding: 5px;
}

.fourth_screen__about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 150px;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.dream_team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

.dream_team__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.dream_team__top__title h2 {
    color: #60606e;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.dream_team__top__title h2:after {
    content: '';
    position: absolute;
    left: 425px;
    ;
    z-index: -1;
    bottom: 30px;
    width: 60px;
    height: 21px;
    background-color: #7beec7;
}

.dream_team__top__description p {
    color: #60606e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.dream_team__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 100px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.dream_team__bottom .specialist1 {
    width: calc(100%/4) - 30px;
    margin-bottom: 25px;
    position: relative;
}

.dream_team__dscr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 150px;
    background-color: #eeeeee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 30px;
}

.dscr_content p {
    color: #60606e;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: italic;
    line-height: 48px;
}

.dscr_bttn a {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    background-color: #7beec7;
    padding: 15px 25px;
}

.fifth_screen__about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 150px;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.person_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    margin-right: 30px;
    margin-top: -15px;
}

.person_info__dscr p {
    color: #60606e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.person_info__name span {
    display: block;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: #7beec7;
}

.person_project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 50%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.person_project .project {
    width: calc(100%/3) - 35px;
    margin-bottom: 25px;
}

.person_info__photo {
    padding-bottom: 30px;
}

.person_info__dscr {
    padding-bottom: 30px;
}

.first_screen__contacts {
    background-image: url('../img/site-hero2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.first_screen__contacts__wrapper {
    width: 100%;
}

.second_screen__contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 150px;
    width: 100%;
}

.contact_info h3 {
    color: #60606e;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.contact_dscr p {
    color: #999999;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.contact_addr p {
    color: #999999;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.contact_email p {
    color: #999999;
    font-size: 14px;
    line-height: 30px;
    font-family: "Open Sans";
    font-weight: 700;
}

.fieldset_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.fieldset_input input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fefcf9;

    width: 100%;
}

.form_adress .fieldset_input {
    width: 100%;
}

.fieldset_section textarea {

    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fefcf9;
    width: 100%;
}

.fieldset_section+.fieldset_section {
    margin-top: 30px;
}

.fieldset_section:first-child .fieldset_input {
    width: calc(100%/2 - 30px);
}

.fieldset_section:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.fieldset_section input[type="submit"] {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #7beec7;
    padding: 20px 65px;
    border: 0;
}

.form_adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 30px;
}

.adress {
    margin-top: 100px;
}

textarea {
    resize: none;
}

input,
textarea {
    padding: 15px 10px;
    color: #4e4e4e;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    padding: 15px 10px;
    color: #dbd9d9;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    padding: 15px 10px;
    color: #dbd9d9;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    padding: 15px 10px;
    color: #dbd9d9;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

input::placeholder,
textarea::placeholder {
    padding: 15px 10px;
    color: #dbd9d9;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.newslatters form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.newslatters .fieldset_input input[type="text"] {
    width: 100%;
}

.newslatters .fieldset_input {
    width: 100%;
}

.fieldset_button input {
    background-color: #7beec7;
    color: #fff;
    padding: 16px 50px;
    border: 0;
}

.first_screen__services {
    background-image: url('../img/site-hero2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.first_screen__services__wrapper {
    width: 100%;
}

.second_screen__services__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 150px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.what_we_do {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

.what_we_do__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.what_we_do_top__title h2 {
    color: #60606e;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.what_we_do_top__title h2:after {
    content: '';
    position: absolute;
    left: 465px;
    z-index: -1;
    bottom: 30px;
    width: 68px;
    height: 21px;
    background-color: #7beec7;
}

.what_we_do_top__description p {
    color: #60606e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.what_we_do__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 100px;
}

.what_we_do__bottom__description {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.wwd_dscr p {
    color: #60606e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.wwd_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
}

.wwd_list ion-icon {
    color: #7beec7;
    font-family: Ionicons;
    font-size: 14px;
    font-weight: 400;
    padding-right: 10px;
}

.wwd_list li span {
    color: #60606e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}

.wwd_list li {
    margin-bottom: 15px;
}

.wwd_list_1 {
    padding-right: 120px;
}

.wwd_list ul {
    margin-bottom: 15px;
}

.third_screen__services__wrapper {
    width: 100%;
    margin-top: 150px;
}

.services_info__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.services_info__blocks ion-icon {
    color: #60606e;
    font-family: Ionicons;
    font-size: 60px;
    font-weight: 400;
}

.services_info__blocks h3 {
    color: #60606e;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
}

.services_info__blocks p {
    color: #60606e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
}

.services_info__block1,
.services_info__block2,
.services_info__block3,
.services_info__block4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(100%/4 - 30px);
}

.fourth_screen__services__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 150px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.pricing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

.pricing_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.pricing_top__title h2 {
    color: #60606e;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.pricing_top__title h2:after {
    content: '';
    position: absolute;
    left: 445px;
    z-index: -1;
    bottom: 30px;
    width: 68px;
    height: 21px;
    background-color: #7beec7;
}

.pricing_top__description p {
    color: #60606e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.pricing_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 100px;
}

.basic h2,
.advanced h2,
.smart h2 {
    color: #60606e;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.basic_list span,
.advanced_list span,
.smart_list span {
    color: #60606e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
}

.basic ion-icon,
.advanced ion-icon,
.smart ion-icon {
    color: #7beec7;
    font-family: Ionicons;
    font-size: 14px;
    font-weight: 400;
}

.basic_price span,
.advanced_price span,
.smart_price span {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #7beec7;
    padding: 10px 20px;
}

.basic a,
.advanced a,
.smart a {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    background-color: #7beec7;
    padding: 20px;
}

.basic_price,
.advanced_price,
.smart_price {
    margin-top: 17px;
    margin-bottom: 50px;
}

.basic_list li,
.advanced_list li,
.smart_list li {
    margin-bottom: 20px;
}

.basic_button,
.advanced_button,
.smart_button {
    margin-top: 50px;
}

.basic,
.advanced,
.smart {
    border: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    width: calc(100%/3 - 30px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
    transition: linear 0.3s;
    -webkit-transition: linear 0.3s;
    -moz-transition: linear 0.3s;
    -ms-transition: linear 0.3s;
    -o-transition: linear 0.3s;
}

.basic:hover,
.advanced:hover,
.smart:hover {
    -webkit-box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.basic h2:before,
.advanced h2:before,
.smart h2:before {
    content: '';
    width: 345px;
    height: 5px;
    background-color: #7beec7;
    position: absolute;
    left: 0;
    top: 0;
}

.basic h2:after,
.advanced h2:after,
.smart h2:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid #7beec7;
    border-left: 15px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
}

