a {
    color: green;
}

a:hover {
    color: red;
}

table {
    border-collapse: collapse;
}

div.table td {
    border-right: 3px solid red;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.table td:last-child {
    border-right: none;
}

div.divs div {
    float: left;
    border-right: 3px solid red;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.divs div:last-child {
    border-right: none;
}

div.spans span {
    display: inline-block;
    border-right: 3px solid red;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.spans span:last-child {
    border-right: none;
}